@{
    ViewData["Title"] = "List";
}

@model IEnumerable<Product>

<div class="mt-5 text-center border-bottom">
    <h6 class="display-6"> Showcase Products </h6>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 my-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> @item.Name</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text mb-0">@item.Price</p>
                        <img src="@Url.Content("~/" + item.ImageUrl)" alt="@item?.Name" class="ms-3" width="80" style="height: auto;">
                    </div>
                    <a asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-primary"> Edit </a>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <div class="form-check form-switch">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

