
@model IEnumerable<IdentityUser>

<div class="text-center my-5">
    <div class="display-6"> USERS </div>
</div>

<div class="d-flex justify-content-end">
    <a class="btn btn-outline-success" asp-action="Create">
        <span>&#43;</span> CREATE
    </a>
</div>

<table class ="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Roles</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>-</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn btn-warning" asp-action="Update" asp-route-id="@item.UserName" style="margin-right: 5px;"> Edit </a>
                        <a class="btn btn btn-info" asp-action="ResetPassword" asp-route-id="@item.UserName" style="margin-right: 5px;"> Reset Password </a>
                        <form method="post" asp-action="DeleteUser">
                            <input type="hidden" name="UserName" value="@item.UserName">
                            <button type="submit" class="btn btn-danger">
                                <i class="fade fa-solid fa-trash"></i>
                                DELETE
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>