@{
    ViewData["Title"] = "Get";
}
@model Product

<h1 class="text-center">Product Details</h1>
<br/>

<div class="col-md-9">
    <div class="row">
        <!-- Ürün Görseli -->
        <div class="">
            <img src="@Url.Content("~/" + @Model.ImageUrl)" class="img-fluid rounded shadow" alt="Product Name">
        </div>

        <!-- Ürün Detayları -->
        <div class="">
            <h1 class="display-4">@Model.Name</h1>
            <p class="lead">@Model.Summary</p>

            <!-- Fiyat -->
            <h2 class="text-success">@Model.Price</h2>

            <!-- Satın Alma Butonu -->
            <form id="@Model.ProductId" asp-page="/cart" method="post">
                <input type="hidden" asp-for="ProductId"/>
                <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

                <button type="submit" class="btn btn-outline-primary btn-lg mt-4">
                    <i class="fa fa-cart-plus"> </i> Add to Cart</button>
            </form>
        </div>
    </div>
</div>