

@{
    ViewData["Title"] = "ProductCard";
}
@model Product

<div class="col-sm-12 col-md-4 col-lg-3 my-3 d-flex align-items-stretch">
    <div class="card" style="width: 18rem;">
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Price</p>
            <p class="card-text">@Model.Summary</p>
            
            <div class="btn btn-group" style="display: flex; gap: 5px;">
                
                <a asp-action="Get" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm"> <i class="fa fa-right-arrow"></i>
                    Details</a>

                <form id="@Model.ProductId" asp-page="/cart" method="post">
                    <input type="hidden" asp-for="ProductId"/>
                    <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>