@model Order
@{
    var total = Model.Lines.Sum(t => t.Product.Price * t.Quantity);
}

<div class="row shadow my-3">
    <div class="col-md-3 border-1 border-dark p-3 bg-light shadow">
        <h5 class="display-6">
            <i class="fa-regular fa-address-book text-secondary"></i>
            @Model.Name
        </h5>
        <p> Address: @Model.Line1 , @Model.Line2</p>
        <p> City: @Model.City</p>
        <p class="rounded-2 p-3"> 
            <span class="bg-warning p-2">Shipped</span>
            <span class="p-2 @(Model.isShipped ? "bg-info" : "bg-danger")">
                @(Model.isShipped ? "Completed" : "In Progress")
            </span>
        </p>
    </div>
    <div class="col-md-9">
        <h6 class="display-6 mt-3 text-center" > Order Summary </h6>
        <ul class="list-group">
            @foreach(var item in Model.Lines)
            {
                <li class="list-group-item d-flex justify-content-between">
                    @item.Product.Name
                    <b>@item.Quantity * @item.Product.Price.ToString("C2")
                        = @((@item.Quantity * @item.Product.Price).ToString("C2"))
                    </b>
                </li>
            }

            <li class="list-group-item d-flex justify-content-between text-danger">
                Total: <b> @total.ToString("C2") </b>
            </li>
        </ul>
        <div class="text-center mt-2 p-2">
            <form method="post" asp-action="Complete">
                <input type="hidden" name="orderId" value="@Model.OrderId" />
                <button type="submit" class="btn btn-primary" disabled="@Model.isShipped"> Complete </button>
            </form>
        </div>
    </div>
</div>
