@page "/cart"  
@model CartModel
@{
    ViewData["Title"] = "Cart";
}

<h2>@ViewData["Title"]</h2>

@if (Model._Cart.Lines.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>SubTotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model._Cart.Lines)
            {
                <tr>
                    <td>@line.Product.Name</td>
                    <td>@line.Quantity</td>
                    <td>@line.Product.Price.ToString("c")</td>
                    <td>@((line.Quantity * line.Product.Price).ToString("c2"))</td>
                    <td>
                        <form asp-page-handler="Remove" method="post">
                            <input type="hidden" name="id" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnURL" value="@Model.ReturnURL" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i> Remove</button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3"></td>
                <td><strong>Total:</strong></td>
                <td>@Model._Cart.ComputeTotalValue().ToString("c")</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center my-3">
        <div class="btn-group">
            <a class="btn btn-primary" href="@Model?.ReturnURL">Continue shopping</a>
            <a class="btn btn-primary mx-2" asp-action="Checkout" asp-controller="Order"> Checkout </a>
        </div>
    </div>
}
else
{
    <p>Your cart is empty.</p>
}

