

@{
    ViewData["Title"] = "ProductCard";
}
@model Product

<div class="col-sm-12 col-md-4 col-lg-3 my-3 d-flex align-items-stretch">
    <div class="card" style="width: 18rem;">
        
        <div class="card-header text-center">
            @Model.Name
        </div>

        <img src="@Url.Content("~/" + @Model.ImageUrl)" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <div class="card-text">
                <div class="text-danger text-center lead p-2 rounded-2">
                    @Model.Price.ToString("C2")
                </div>
            </div>
            <p class="card-text">@Model.Summary</p>

            <div class="btn btn-group d-flex justify-content-center" style="display: flex; gap: 5px;">
                
                <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm"> <i class="fa fa-right-arrow"></i>
                    Details</a>

                <form id="@Model.ProductId" asp-page="/cart" method="post">
                    <input type="hidden" asp-for="ProductId"/>
                    <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>